* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', ui-sans-serif, system-ui, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 16px;
}

// Responsive font sizes
@media (max-width: 1200px) {
  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 620px) {
  html,
  body {
    font-size: 12px;
  }
}
