// Colors
$color-sidebar-bg: #e7e5e4;
$color-sidebar-active: #d7d3d0;
$color-text-primary: #1c1917;
$color-text-secondary: #78716c;
$color-badge-bg: #8e1e33;
$color-white: #fff;

// Status colors
$color-status-rejected-bg: #d92d201f;
$color-status-rejected: #d92d20;
$color-status-accepted-bg: #027a481f;
$color-status-accepted: #027a48;
